body {
    font-family: "Futura Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 2rem;
}

a {
    color: black;
}

table {
    margin: 2rem auto;
    font-size: 1.125rem;
    border-collapse: collapse;
}

td, th {
    padding: 0 0.5rem;
}

thead {
    font-weight: bold;
}